.footer .container{
    background-color: #1f2a30;
    height: 100px;
    width: 100%;
}

.footer__title{
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    color: white;
}