.info__text {
  color:  rgb(0, 0, 0);
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight:900;
  line-height: 20px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.shop__contact{
  color:  rgb(0, 0, 0);
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight:900;
  line-height: 20px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
